h1 {
    text-align: center;
    display: inline-block;
    margin-left: 200px;
}

.podium{
    display: inline-block;
    width: auto;
}

.first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    margin: auto;
    display: block;
}

  .second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
}

  .third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
}

.prizes-section{

    width: 50%;
}

.prizes-section ul, h3{
    text-align: center;
    margin: auto;

}

.prizes-section li{
    display: inline;
}
